body{ 
  overflow-x: hidden; 
  overflow-y:hidden;
}

#container {
  position:absolute;
  top: 50%;
  left: 50%;
  width:480px;
  height:288px;
  margin-top: -240px; /*set to a negative number 1/2 of your height*/
  margin-left: -200px; /*set to a negative number 1/2 of your width*/
  background-color: #f3f3f3;
  padding:10px;
  opacity:0.85;
  border-radius:2px;
}

.invisible {
  visibility: hidden;
}